<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cadastro - Loja Geek</title>
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/icon.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="header">
            <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
            <div id="divBusca">
                <img src="img/lupa.png" id="btnBusca" alt="Buscar" width="45px" height="50px" />
                <input type="text" id="txtBusca" placeholder="Buscar...">
            </div>
            <div class="header-right">
                <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><img
                        src="img/conta.png"><br>Conta</a>
                <a href="carrinho.html"><img src="img/carrinho.png"><br>Carrinho</a>
                <a href="sac.html"><img src="img/sac.png"><br>Sac</a>
            </div>
        </div>
        <div class="barra">
            <a href="camisetas.html">Camisetas</a>
            <a href="acessorios.html">Acessorios</a>
            <a href="actionfigures.html">Action Figures</a>
            <a href="livros.html">Livros</a>
            <a href="hqs.html">HQ's</a>
            <a href="decoracoes.html">Decorações</a>
            <a href="kits.html">Kits</a>
        </div>
    </header>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="email"><b>Email:</b></label>
                <input type="text" placeholder="Escreva seu email" name="email" required>

                <label for="psw"><b>Senha</b></label>
                <input type="password" placeholder="Escreva sua senha" name="psw" required>

                <button type="submit">Entrar</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Lembre-se de mim
                </label>
            </div>

            <div class="container" style="background-color:#ffffff">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Cancelar</button>
                <span class="psw">Ainda não possui conta? <a href="cadastro.html"> Registre-se</a></span>
            </div>
        </form>
    </div>

    <form class="formulario" id="app" v-on:submit.prevent="checkForm">
        <p v-if="errors.length">
            <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
            <ul id="erro">
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
        <div class="container">
            <h1>Cadastro</h1>
            <p>Por favor, preencha este formulário para criar uma conta.</p>
            <hr>

            <label for="email"><b>Email:</b></label>
            <input type="email" placeholder="Escreva seu email" name="email" v-model="email">

            <label for="senha"><b>Senha:</b></label>
            <input type="password" placeholder="Escreva sua senha" name="senha" v-model="senha" minlength="6">

            <label for="repsenha"><b>Repita sua senha:</b></label>
            <input type="password" placeholder="Escreva sua senha novamente" name="repsenha" v-model="repsenha"
                minlength="6">
            <hr>

            <button type="submit" class="registerbtn">Enviar</button>
        </div>

        <div class="container signin">
            <p>Já possui uma conta?<button onclick="document.getElementById('id01').style.display='block'"
                    style="width:auto;" class="btnE">Entrar</a>.</p>
        </div>
    </form>
    <br><br><br>
    <footer class="page-footer font-small cyan darken-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 py-5">
                        <div class="mb-5 flex-center">
                            <div class="footer-social-icons">
                                <h5>Sigam a gente nas redes sociais!</h5>
                                <ul class="social-icons">
                                    <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                                    <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                                    <li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="copyright">©2018 Copyright:
                                <a href="index.html"> lojageek.com.br</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </footer>
    <script src="vue/vue.js"></script>
</body>

</html>