html{
    max-width: 100vw;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header-right {
    float: right;
    text-align: center;
}

.header-right a img {
    width: 30px;
    height: 30px;
}

#divBusca {
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 15px;
    width: 500px;
    height: 50px;
    float: left;
}

#txtBusca {
    float: right;
    background-color: transparent;
    padding-left: 1px;
    font-style: italic;
    font-size: 20px;
    border: none;
    height: 30px;
    width: 450px;
}

.barra {
    width: 100%;
    overflow: hidden;
    background-color: #3399ff;
    text-align: center;
}

.barra a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #3399ff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #ddd;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text], input[type=password], input[type=email], textarea {
    width: 100%;
    display: inline-block;
    background: #f1f1f1;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #3399ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 7px 12px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 12px;
    position: relative;
}

img.avatar {
    margin: auto;
    width: 20%;
    border-radius: 50%;
}

#container {
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 300px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto 5% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.btnE {
    background-color: #f1f1f1;
    color: #3399ff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btcart {
    background-color: #f1f1f1;
    color: #3399ff;
    border: none;
    cursor: pointer;
    width: 30%;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}